/* Base don't edit*/
body {
    margin: 0 auto;
    max-width: 50em;
    display: flex;
    flex-direction: row;  /* row default muss nicht angegeben werden*/
    flex-flow: row wrap;
}

header, footer, article{

    border-radius: 0px 0.5em 0.5em;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    flex: 1 100%;

}

footer {
    height: 2em;
    padding-top: 0px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.columnContainer {
    flex: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}
.flexSize1 {
    flex: 1 0 0%;
}
.flexSize2 {
    flex: 2 0 0%;
}
.flexSize3 {
    flex: 3 0 0%;
}

/* edit page*/
* {
    margin: 5px;
}

.arrowButton {
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: transparent;
    color: grey;
}

.arrowButton[checked] {
    color: black;
}

label {
    flex: 1 0 0%;
}

.mainIn {
    flex: 3 0 0%;
    margin-right: 10%;
}

textarea {
    height: 10em;
}

input[type="date"] {
    width: 5em;
    flex: 1 0 0%;
}

article>button:last-of-type {
    margin-left: 80%;

}