body {
    margin: 0 auto;
    max-width: 40em;
    display: flex;
    flex-direction: row;  /* row default muss nicht angegeben werden*/
    flex-flow: row wrap;
}

header, footer, aside, article, input{

    border-radius: 0px 0.5em 0.5em;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    flex: 1 100%;

}

article>section{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
header  {
    display: flex;
    flex-direction: column;
}
.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    flex: 2 0 0%;
}

article {
    flex: 5 0 0%;
}

.termin {
    flex: 1 0%;
    margin-left: 10px;
 }

.title {
    flex: 2 0%;
    margin-left: 5px;

}

img {

}

.emty {
    flex: 1 0%;
}

input {
    flex: 0.5 0%;
    justify-content: flex-start;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 0px;
    align-content: center;
}

textarea {
    flex: 3  0%;
    margin-left: 25px;
    margin-right: 25px;
}

section > button {
    flex: 0.5 0%;
}





