body {
    margin: 0 auto;
    max-width: 50em;
    display: flex;
    flex-direction: row;  /* row default muss nicht angegeben werden*/
    flex-flow: row wrap;
}

button, select{
    margin: 0.3em;
    padding: 0.2em;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.columnContainer {
    flex: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}

.flexSize1 {
    flex: 1 0 0%;
}
.flexSize2 {
    flex: 2 0 0%;
}
.flexSize3 {
    flex: 3 0 0%;
}

.editbutton {
    margin: 2em 1em 0em;

}

.center {
    align-content: center;
    justify-content: center;
}


header, footer, article{

    border-radius: 0px 0.5em 0.5em;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    flex: 1 100%;

}

header  {
    display: flex;
    flex-direction: column;
}
.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    margin-top: 1em;
}

footer {
    height: 2em;
    padding-top: 0px;
}



