body {
    margin: 0 auto;
    max-width: 50em;
    flex-flow: row wrap;
}

header, footer, article{
    border-radius: 0px 0.5em 0.5em;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    background-color: lightgreen;
}

footer {
    height: 2em;
    margin: -0.3em 0.9em 0.3em;
}

footer, Header, select {
    background-color: lemonchiffon;
}

