* {
    margin: 0.3em;
}

div {
    margin: 0;
}

button, select{
    padding: 0.2em;
}

.flexSize1 {
    flex: 1 0 0%;
}

.flexSize2 {
    flex: 2 0 0%;
}

.flexSize3 {
    flex: 3 0 0%;
}

.editbutton {
    margin: 2em 1em 0em;
}

.space {
    justify-content: space-around;
}

header  {
    display: flex;
    flex-direction: column;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#entryPoint {
    flex: 1 100%;
}

/* edit css*/
.lightningButton {
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: transparent;
    color: grey;
}

.lightningButton[checked] {
    color: black;
}

label {
    flex: 1 0 0%;
}

.mainIn {
    flex: 3 0 0%;
    margin-right: 10%;
}

.height10 {
    height: 10em;
}

input[type="date"] {
    width: 5em;
    flex: 1 0 0%;
}

.cancelButton {
    margin-left: 80%;

}



