* {
    margin: 0.3em;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    flex: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}

header {
    margin-right: 0.6em;
    padding-right: 0.9em;
}

button, select, span{
    padding: 0.2em;
}

.flex-size1 {
    flex: 1 0 0%;
}

.flex-size2 {
    flex: 2 0 0%;
}

.flex-size3 {
    flex: 3 0 0%;
}

.edit-button {
    margin: 2em 1em 0em;
}

.space {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

#entryPoint {
    flex: 1 100%;
}

.bolt {
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: transparent;
    color: lightgrey;
    width: 5%;
}

.bolt.checked {
    color: black;
}

.edit-in {
    margin-right: 10%;
}

.height10 {
    height: 10em;
}

input[type="date"] {
    width: 5em;
}

.cancel-button {
    margin-left: 80%;
}



